body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(129, 145, 101, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:65px;
  color:#FFFAFA;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:41px;
  width:532px;
  height:79px;
  display:flex;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:65px;
  color:#FFFAFA;
}
#u402 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:70px;
  height:70px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:60px;
  width:60px;
  height:60px;
  display:flex;
  color:#393F71;
}
#u403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:35px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:73px;
  width:32px;
  height:35px;
  display:flex;
  color:#393F71;
}
#u404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:78px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFEFE;
  text-align:left;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:269px;
  width:1220px;
  height:78px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFEFE;
  text-align:left;
}
#u405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFAFA;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:183px;
  width:1099px;
  height:64px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFAFA;
}
#u406 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:78px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFF6F6;
  text-align:left;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:376px;
  width:1220px;
  height:78px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFF6F6;
  text-align:left;
}
#u407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:78px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFF6F6;
  text-align:left;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:483px;
  width:1220px;
  height:78px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFF6F6;
  text-align:left;
}
#u408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:78px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFF6F6;
  text-align:left;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:588px;
  width:1220px;
  height:78px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFF6F6;
  text-align:left;
}
#u409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:78px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFF6F6;
  text-align:left;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:695px;
  width:1220px;
  height:78px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFF6F6;
  text-align:left;
}
#u410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:78px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFF6F6;
  text-align:left;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:803px;
  width:1220px;
  height:78px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFF6F6;
  text-align:left;
}
#u411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:931px;
  width:697px;
  height:112px;
  display:flex;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
