body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(129, 145, 101, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u528_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:70px;
  height:70px;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:60px;
  width:60px;
  height:60px;
  display:flex;
  color:#393F71;
}
#u528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:35px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:73px;
  width:32px;
  height:35px;
  display:flex;
  color:#393F71;
}
#u529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:65px;
  color:#FFFAFA;
  text-align:center;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:42px;
  width:699px;
  height:89px;
  display:flex;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:65px;
  color:#FFFAFA;
  text-align:center;
}
#u530 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:78px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:left;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:175px;
  width:1220px;
  height:78px;
  display:flex;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:left;
}
#u531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:78px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:left;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:391px;
  width:1220px;
  height:78px;
  display:flex;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:left;
}
#u532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:78px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#F6ECEC;
  text-align:left;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:499px;
  width:1220px;
  height:78px;
  display:flex;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#F6ECEC;
  text-align:left;
}
#u533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:78px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:left;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:283px;
  width:1220px;
  height:78px;
  display:flex;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:left;
}
#u534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u535_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:70px;
  height:70px;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:657px;
  width:60px;
  height:60px;
  display:flex;
  color:#393F71;
}
#u535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:667px;
  width:40px;
  height:40px;
  display:flex;
}
#u536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:609px;
  width:1220px;
  height:64px;
  display:flex;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u537 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:78px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFCFC;
  text-align:left;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:758px;
  width:1220px;
  height:78px;
  display:flex;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFCFC;
  text-align:left;
}
#u538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:783px;
  width:50px;
  height:28px;
  display:flex;
}
#u539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:138px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:890px;
  width:686px;
  height:138px;
  display:flex;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
