body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(129, 145, 101, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u556_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:70px;
  height:70px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:60px;
  width:60px;
  height:60px;
  display:flex;
  color:#393F71;
}
#u556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:35px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:73px;
  width:32px;
  height:35px;
  display:flex;
  color:#393F71;
}
#u557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:65px;
  color:#FFFAFA;
  text-align:center;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:42px;
  width:919px;
  height:89px;
  display:flex;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:65px;
  color:#FFFAFA;
  text-align:center;
}
#u558 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1018px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:191px;
  width:1018px;
  height:55px;
  display:flex;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u559 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:204px;
  width:41px;
  height:40px;
  display:flex;
}
#u560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1715px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:276px;
  width:1715px;
  height:3px;
  display:flex;
}
#u561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:190px;
  background:inherit;
  background-color:rgba(118, 198, 165, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u562 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:340px;
  width:720px;
  height:190px;
  display:flex;
}
#u562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFAFA;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:404px;
  width:482px;
  height:64px;
  display:flex;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFAFA;
}
#u563 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:171px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:360px;
  width:152px;
  height:151px;
  display:flex;
}
#u564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:131px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:370px;
  width:132px;
  height:131px;
  display:flex;
}
#u565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:190px;
  background:inherit;
  background-color:rgba(118, 198, 165, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u566 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:571px;
  width:720px;
  height:190px;
  display:flex;
}
#u566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFAFA;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:635px;
  width:482px;
  height:64px;
  display:flex;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFAFA;
}
#u567 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:171px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:591px;
  width:152px;
  height:151px;
  display:flex;
}
#u568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:131px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:601px;
  width:132px;
  height:131px;
  display:flex;
}
#u569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:190px;
  background:inherit;
  background-color:rgba(118, 198, 165, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u570 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:806px;
  width:720px;
  height:190px;
  display:flex;
}
#u570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFAFA;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:870px;
  width:482px;
  height:64px;
  display:flex;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFAFA;
}
#u571 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:171px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:826px;
  width:152px;
  height:151px;
  display:flex;
}
#u572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:131px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:836px;
  width:132px;
  height:131px;
  display:flex;
}
#u573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:190px;
  background:inherit;
  background-color:rgba(118, 198, 165, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u574 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:339px;
  width:720px;
  height:190px;
  display:flex;
}
#u574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFAFA;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:403px;
  width:482px;
  height:64px;
  display:flex;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFAFA;
}
#u575 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:171px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:359px;
  width:152px;
  height:151px;
  display:flex;
}
#u576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:131px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:369px;
  width:132px;
  height:131px;
  display:flex;
}
#u577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:190px;
  background:inherit;
  background-color:rgba(118, 198, 165, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u578 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:570px;
  width:720px;
  height:190px;
  display:flex;
}
#u578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFAFA;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:634px;
  width:482px;
  height:64px;
  display:flex;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFAFA;
}
#u579 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:171px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:590px;
  width:152px;
  height:151px;
  display:flex;
}
#u580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:131px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:600px;
  width:132px;
  height:131px;
  display:flex;
}
#u581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:190px;
  background:inherit;
  background-color:rgba(118, 198, 165, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:30px;
  -moz-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u582 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:805px;
  width:720px;
  height:190px;
  display:flex;
}
#u582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFAFA;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:869px;
  width:482px;
  height:64px;
  display:flex;
  font-family:'Poppins-Regular', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFAFA;
}
#u583 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:171px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:825px;
  width:152px;
  height:151px;
  display:flex;
}
#u584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:131px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:835px;
  width:132px;
  height:131px;
  display:flex;
}
#u585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
