body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:791px;
  background:inherit;
  background-color:rgba(129, 145, 101, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:791px;
  display:flex;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Imprint MT Shadow Bold Oblique', 'Imprint MT Shadow Bold', 'Imprint MT Shadow Normal', 'Imprint MT Shadow', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:90px;
  color:#FFFFFF;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:108px;
  width:537px;
  height:87px;
  display:flex;
  font-family:'Imprint MT Shadow Bold Oblique', 'Imprint MT Shadow Bold', 'Imprint MT Shadow Normal', 'Imprint MT Shadow', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:90px;
  color:#FFFFFF;
}
#u1 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:289px;
  background:inherit;
  background-color:rgba(155, 173, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:791px;
  width:960px;
  height:289px;
  display:flex;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
  text-align:center;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:814px;
  width:719px;
  height:45px;
  display:flex;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
  text-align:center;
}
#u3 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:128px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:906px;
  width:127px;
  height:128px;
  display:flex;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:128px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:906px;
  width:127px;
  height:128px;
  display:flex;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:128px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:906px;
  width:127px;
  height:128px;
  display:flex;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:128px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:906px;
  width:127px;
  height:128px;
  display:flex;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:128px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:906px;
  width:127px;
  height:128px;
  display:flex;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:273px;
  width:304px;
  height:52px;
  display:flex;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:435px;
  width:304px;
  height:52px;
  display:flex;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:35px;
  color:#F2F2F2;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:642px;
  width:600px;
  height:78px;
  display:flex;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:35px;
  color:#F2F2F2;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:1306px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:0px;
  width:960px;
  height:1306px;
  display:flex;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:931px;
  width:78px;
  height:78px;
  display:flex;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:99px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:921px;
  width:176px;
  height:99px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:931px;
  width:78px;
  height:78px;
  display:flex;
  color:#898888;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:931px;
  width:78px;
  height:78px;
  display:flex;
  color:rgba(110, 110, 110, 0.996078431372549);
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:66px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:937px;
  width:94px;
  height:66px;
  display:flex;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:78px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:left;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:488px;
  width:600px;
  height:78px;
  display:flex;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:left;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:78px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:35px;
  text-align:left;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:326px;
  width:600px;
  height:78px;
  display:flex;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:35px;
  text-align:left;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:631px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:57px;
  color:#FFFFFF;
  text-align:justify;
  text-justify:inter-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:250px;
  width:456px;
  height:631px;
  display:flex;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:57px;
  color:#FFFFFF;
  text-align:justify;
  text-justify:inter-word;
}
#u20 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
