body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(129, 145, 101, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(129, 145, 101, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:281px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:271px;
  width:548px;
  height:281px;
  display:flex;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Imprint MT Shadow Bold Oblique', 'Imprint MT Shadow Bold', 'Imprint MT Shadow Normal', 'Imprint MT Shadow', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:90px;
  color:#FFFFFF;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:32px;
  width:537px;
  height:87px;
  display:flex;
  font-family:'Imprint MT Shadow Bold Oblique', 'Imprint MT Shadow Bold', 'Imprint MT Shadow Normal', 'Imprint MT Shadow', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:90px;
  color:#FFFFFF;
}
#u510 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:60px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:1801px;
  top:55px;
  width:48px;
  height:60px;
  display:flex;
  font-size:25px;
}
#u511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:281px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:622px;
  width:548px;
  height:281px;
  display:flex;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:281px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:271px;
  width:548px;
  height:281px;
  display:flex;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:281px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:622px;
  width:548px;
  height:281px;
  display:flex;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
