body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(129, 145, 101, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Imprint MT Shadow Bold Oblique', 'Imprint MT Shadow Bold', 'Imprint MT Shadow Normal', 'Imprint MT Shadow', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:100px;
  color:#FFFFFF;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:129px;
  width:600px;
  height:97px;
  display:flex;
  font-family:'Imprint MT Shadow Bold Oblique', 'Imprint MT Shadow Bold', 'Imprint MT Shadow Normal', 'Imprint MT Shadow', sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:100px;
  color:#FFFFFF;
}
#u446 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:302px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(129, 145, 101, 1);
  border-radius:40px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:45px;
  color:#FFFBFB;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:344px;
  width:756px;
  height:302px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:45px;
  color:#FFFBFB;
}
#u447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:175px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(129, 145, 101, 1);
  border-radius:40px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:40px;
  color:#FFFEFE;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:632px;
  width:378px;
  height:175px;
  display:flex;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:40px;
  color:#FFFEFE;
}
#u448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:175px;
  background:inherit;
  background-color:rgba(172, 192, 139, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(129, 145, 101, 1);
  border-left:0px;
  border-radius:40px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:10px 10px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:40px;
  color:#FFFEFE;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:632px;
  width:378px;
  height:175px;
  display:flex;
  font-family:'Poppins SemiBold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:40px;
  color:#FFFEFE;
}
#u449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
